numpy==2.2.6
scikit-learn==1.7.2
joblib==1.5.3
tensorflow==2.20.0
keras==3.12.0
pillow==12.1.0
opencv-python-headless==4.12.0.88
shap==0.49.1
matplotlib==3.10.8
pandas==2.3.3
streamlit==1.52.2
firebase-admin==7.1.0
pymongo==4.15.5
certifi==2026.1.4
requests==2.32.5
